.column-url, .column-parentURL {
  width: 45%;
}

.parents-content {
  display: block;
  height: 30px;
  overflow: hidden;
}

.parents-content.open {
  height: auto;
}

.custom-control-label {
  margin-top: -6px;
  display: inline-block;
}

.login-form-wrap {
  min-width: 250px;
}

.login-form-wrap .form-field input {
  width: 100%;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  margin: 2px;
  border: 2px solid #008ec2;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #008ec2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
